<h1>Structural Directives - ngFor 4️⃣</h1>

<button class="btn btn-warning" type="button" (click)="onClick()">Show/Hide</button>
<h1>Player list</h1>

<table class="table table-bordered" id="playerTable" *ngIf="display">
    <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>Name</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players; even as e; index as i;" [style.background]="e ? '#ccc' : '#fff'"  >
            <td>{{ i }}</td>
            <td>{{player.id}}</td>
            <td>{{player.name}}</td>
            <td>{{player.position}}</td>
        </tr>
    </tbody>
</table>